# Supabase Configuration
SUPABASE_URL=https://akqrjytlbrregpbjroih.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrcXJqeXRsYnJyZWdwYmpyb2loIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjA2NTI2MCwiZXhwIjoyMDkxNjQxMjYwfQ.8F3l4AQmE9B1sEGy6Bp_-PSYXY8gkVkVT6DKgJsPIac

# JWT Configuration
JWT_SECRET=super-secret-election-key-2027
